body {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: 'Bellota';
    font-size: 10px;
    background-color: #f1f1f1;
}

li,
ul,
p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: 'Bellota';
    font-size: 16px;
    line-height: 2.0;
}


/*text*/

h1 {
    text-align: center;
}


/*text*/

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (min-width: 771px) {
    /*TOPO*/
    .brand {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
        background-color: white;
        padding-top: 2px;
        padding-bottom: 6px;
    }
    .openbtn {
        visibility: hidden;
    }
    .imglogo {
        width: 230px;
        height: 150px;
    }
    /* ++ Menu ++ */
    .menu {
        background-color: #bbb;
        display: flex;
        justify-content: flex-start;
        padding-left: 7%;
    }
    .sidepanel {
        padding: 8px;
    }
    .sidepanel a {
        margin-left: 25px;
        color: rgb(108, 42, 55);
        text-decoration: none;
        font-size: 25px;
    }
    .sidepanel a:hover {
        color: white;
    }
    .closebtn {
        visibility: hidden;
    }
    /*  Chamada LGPD */
    .grid-container-lgpd {
        display: grid;
        height: 300px;
        align-content: center;
        grid-template-columns: auto;
        grid-gap: 2px;
        padding: 2px;
        background: url(../img/imagem-fundo-seguranca-internet.png) no-repeat center fixed;
        background-size: cover;
    }
    .grid-container-lgpd>div {
        text-align: center;
        padding: 2px 0;
        font-size: 20px;
        color: rgb(108, 42, 55);
        color: white;
        text-shadow: -1px 0 rgb(108, 42, 55), 0 1px rgb(108, 42, 55), 1px 0 rgb(108, 42, 55), 0 -1px rgb(108, 42, 55);
    }
    /*  Apresentação LGPD */
    .item1 {
        grid-area: header;
    }
    .item2 {
        grid-area: menu;
    }
    .item3 {
        grid-area: main;
    }
    .grid-container-artigo {
        display: grid;
        grid-template-areas: 'menu header header header header header' 'menu main main main right right';
        grid-gap: 5px;
        padding: 5px;
    }
    .grid-container-artigo .item1 {
        text-align: left;
        padding: 2px 3%;
        font-size: 22px;
    }
    .grid-container-artigo .item2 {
        text-align: center;
        padding: 20px 0;
        margin-left: 180px;
    }
    .grid-container-artigo .item3 {
        text-align: justify;
        padding-top: 1%;
        padding-left: 3%;
        padding-right: 30%;
    }
    .fa {
        margin: 6px 1px;
        padding: 8px;
        width: 50px;
        border-radius: 8%;
        text-align: center;
    }
    .fa:hover {
        opacity: 0.7;
    }
    .fa-facebook {
        background: #3B5998;
        color: white;
    }
    .fa-instagram {
        background: #125688;
        color: white;
    }
    .fa-whatsapp {
        background: #34af23;
        color: white;
    }
    hr.solid {
        border-bottom: 3px solid rgb(138, 130, 130);
        margin: 2% 18%;
    }
    /*Cartão Profissional Carla*/
    .grid-container-card {
        display: grid;
        height: auto;
        align-content: center;
        grid-template-columns: auto auto;
        grid-gap: 10px;
        background-color: #f1f1f1;
        padding: 10px;
        padding-left: 10%;
    }
    .grid-container-card>div {
        background-color: rgba(255, 255, 255, 0.8);
        width: 60%;
        box-shadow: #125688;
    }
    .grid-container-card .bio {
        font-size: 14px;
        text-align: left;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding-left: 3%;
    }
    .grid-container-card .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: auto;
        margin: auto;
        text-align: center;
    }
    .title {
        color: grey;
        font-size: 18px;
    }
    .card-btn {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: rgb(108, 42, 55);
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
        margin-top: 0;
    }
    .img-card {
        width: 100%;
    }
    a {
        text-decoration: none;
        font-size: 22px;
        color: rgb(108, 42, 55);
    }
    button:hover,
    a:hover {
        opacity: 0.7;
    }
}